.red {
    color: red;
}
body {
    background-color: rgb(235, 215, 182);
    margin: 5% 20% 5% 10%;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#img {
    border-radius: 10%;
}

#img_1{
    border-radius: 25px;
}
